<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOPty35lMoQNICB_W6MiPD5E68s4-A-HVInw&usqp=CAU"width="320" height="250">
<img src="https://svdegreecollege.ac.in/images/home-welcome-img.jpg" width="320" height="250">
<img src="https://www.careerindia.com/college-photos/520x380/275/college-building_1478239742.jpg"width="320" height="250">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEjFVYPhOkegy_Z6_BPsj01e32lbjrSp0-20_SPL8SLA-aN9Le5JpEj0pzV7foHcG_tVE&usqp=CAU"width="320" height="250">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeRzUQjLh1aLMopEIn628Eefz7_-6BZzp5s0eBjpf2EpqOZ2xd5Q4VscRKiB7_RMTTVHw&usqp=CAU"width="320" height="250">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtU83rZLAVM42NAf3xlqmbnbQFX4yZ3pgVj9r4IQyT3prAfh16HWpOTau-12aZJuI8Ez0&usqp=CAU"width="320" height="250">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqA1sOAqaTrwz_6NbdJzQpkVWo2v10RsPu9uz11zsxB34fAzoR5M9BKxtUwHY06ZNfECw&usqp=CAU"width="320" height="250">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmm1qVGvU3G7CaEa_AFO52ZZjOWZGk0W4CeFL-xPBb4aSWtxrgQo7gp8ry6TgLx07Dn-8&usqp=CAU"width="320" height="250">


