<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTavdGTLbH0YNRjGQNtCjeZoq4fOhTPJHNdiw&usqp=CAU" align="left"hight="250" width="250">
<h1 align="center" style="color:rgb(236, 18, 18);">Sri Venkateswara Degree & PG college</h1>
<h5 align="center" style="color:green">12-3-415, Jesus Nagar, Anantapur, Andhra Pradesh 515001</h5>
<hr>
<br>
<h4 style="color:darkblue">Overview</h4>
<p>
    Sri Venkateswara Educational Society is a Non-Profit Organization established by Dr. C. Somasekhara Reddy with the main objective of establishing educational institutions including professional colleges to provide quality education. The society has started its operations in 1998 with the establishment of
</p>
<ol type="1">
    <li> S.V. Degree College in the year 1999</li>
    <li> S.V. P.G. College in the year 2005</li>
    <li> S.V. B.Ed. College in the year 2007</li>
    <li> S.V. Institute of Technology in the year 2009 </li>
    <li> S.V. School of Business in the year 2018</li>
</ol>
<p>The main promoter of the society, Dr. C. Somasekhara Reddy, Chairman and Founder of S.V. Group of Institutions, is well experienced in this line of activity. Before the establishment of society, he worked in various capacities in the educational institutions and got good expertise in running the educational institutions. He is a retired Professor in Statistics with an overall teaching experience of 40 years and worked in SSBN National Degree College, Anantapur for a period of 28 years. With a mission and vision to impart quality education in the backward region of Rayalaseema, he established S.V. Degree College in the year 1999 with a mere strength of 110 students and expanded to group of institutions with a combined strength of more than 4500 students.

</p>