<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTavdGTLbH0YNRjGQNtCjeZoq4fOhTPJHNdiw&usqp=CAU" align="left" hight="250" width="250">
<br>
<h2 style="color:brown" align="center"><u>Sri Venkateswara Degree & PG College, Anantapur</u></h2>
<br><br><br><br>
<h3 style="background-color:red"><font style="color:white">Contact Us:</font></h3><hr>
<h4 style="color:Green">Contact Details:</h4>
<h4>Mobile Number:</h4>
+91-9391812894
<h4>Email-id</h4>
<a href= "info@svdegreecollege.ac.in ">info@svdegreecollege.ac.in</a>
